.changeColor {
    animation: changeColor 4s ease-in alternate-reverse infinite;
}
@keyframes changeColor {
    0% {
        color: rgb(18, 224, 94);
    }
    100% {
        color: #fc881b;
        
    }
}

@media (min-width: 1024px) {
    .c1 {
        animation: c1 2s ease-in alternate-reverse infinite;
    }
    .card1 {
        animation: card1 1.2s ease-in alternate-reverse 0.55s infinite;
    }
    .card2 {
        animation: card2 1.4s ease-in alternate-reverse 0.25s infinite;
    }
    .card3 {
        animation: card3 1.3s ease-in alternate-reverse infinite;
    }
}

@keyframes c1 {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-20%);
    }
}

@keyframes card1 {
    0% {
        transform: translateX(0%) translateY(0%);
    }
    100% {
        transform: translateX(-10%) translateY(-4%);
    }
}

@keyframes card2 {
    0% {
        transform: translateX(0%) translateY(0%);
    }
    100% {
        transform: translateX(-4%) translateY(-8%);
    }
}

@keyframes card3 {
    0% {
        transform: translateX(2%) translateY(3%);
    }
    100% {
        transform: translateX(-7%) translateY(-6%);
    }
}
